<br>
<br>
<form #formaddcoin="ngForm" (ngSubmit)="addcoin(formaddcoin)" class="login-form">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div *ngIf="isError" class="alert alert-danger" role="alert">
            {{alert}}
    </div>
    <div *ngIf="isSucces" class="alert alert-info" role="alert">
      {{alert}}
    </div>
    <div class="form-group">
      <select class="form-control" placeholder="Small Name" name="small_name" [(ngModel)]="coin.small_name"  style='height:48px'>
        <option value="" disabled selected>Choose Coin.</option>
        <option *ngFor="let symbol_coin of symbol_coins" [value]="symbol_coin.small_name" style='width:100px;'>
          {{symbol_coin.viewValue}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <input type="text" name="description" [(ngModel)]="coin.description"
            rows="2" placeholder="Description"
            class="form-control" required>
    </div>
    <div class="form-group">
        <input type="number" name="rate" [(ngModel)]="coin.rate"
            placeholder="Rate" class="form-control"
            required>
    </div>
    <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
      <i class="fas fa-save"></i>
    </button>
  </div>

</form>

<br>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Small Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">Description</th>
            <th scope="col">Rate</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody *ngFor="let coin of coins">

        <tr *ngIf="coin.available!=0">
            <th scope="row">{{coin.small_name}}</th>
            <td>{{coin.symbol}}</td>
            <td>{{coin.description}}</td>
            <td>{{coin.rate}}</td>
            <td>
                <a  class="btn btn-warning btn-sm" (click)="edit(coin.id)" data-toggle="modal" data-target="#exampleModalLong">
                    <i class="fas fa-edit"></i>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form #formmodcoin="ngForm" (ngSubmit)="update(formmodcoin)" class="login-form">
                              <div class="d-flex flex-row bd-highlight mb-3">
                                <div *ngIf="isError" class="alert alert-danger" role="alert">
                                        {{alert}}
                                </div>
                                <div *ngIf="isSucces" class="alert alert-info" role="alert">
                                  {{alert}}
                                </div>
                                <div class="form-group">
                                  <select class="form-control" placeholder="Small Name" name="small_name" [(ngModel)]="mod_coin.small_name"  style='height:48px'>
                                    <option value="" disabled selected>Choose Coin.</option>
                                    <option *ngFor="let symbol_coin of symbol_coins" [value]="symbol_coin.small_name" style='width:100px;'>
                                      {{symbol_coin.viewValue}}
                                    </option>
                                  </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="description" [(ngModel)]="mod_coin.description"
                                        rows="2" placeholder="Description"
                                        class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="rate" [(ngModel)]="mod_coin.rate"
                                        placeholder="Rate" class="form-control"
                                        required>
                                </div>
                                <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
                                  <i class="fas fa-save"></i>
                                </button>
                              </div>

                            </form>

                        </div>

                      </div>
                    </div>
                  </div>
                <!--<button class="btn btn-danger btn-sm" (click)="delete(profile._id)" id="delete"></button>-->
                <button class="btn btn-danger btn-sm" id="delete" (click)="deletecoin(coin.id)">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


