<br>
<br>
<form #formaddaccount="ngForm" (ngSubmit)="addaccount(formaddaccount)" class="login-form">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div *ngIf="isError" class="alert alert-danger" role="alert">
            {{alert}}
    </div>
    <div *ngIf="isSucces" class="alert alert-info" role="alert">
      {{alert}}
    </div>
    <div class="form-group">
      <select class="form-control" placeholder="Coin" name="coin" [(ngModel)]="account.coin"  style='height:48px'>
        <option value="null" disabled selected>Choose Coin.</option>
        <option *ngFor="let coin of coins" [value]="coin.id" style='width:100px;'>
          {{coin.small_name}}{{coin.symbol}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <input type="text" name="small_name" [(ngModel)]="account.small_name"
            placeholder="Small Name" class="form-control"
            required>
    </div>
    <div class="form-group">
        <input type="text" name="description" [(ngModel)]="account.description"
            rows="2" placeholder="Description"
            class="form-control" required>
    </div>
    <div class="form-group">
        <input type="number" name="initial_amount" [(ngModel)]="account.initial_amount"
            placeholder="Initial Amount" class="form-control"
            required>
    </div>
    <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
      <i class="fas fa-save"></i>
    </button>
  </div>
</form>


<table class="table table-striped table-dark">
  <thead>
      <tr>
          <th scope="col">Coin</th>
          <th scope="col">Small Name</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Options</th>
      </tr>
  </thead>
  <tbody *ngFor="let account of accounts">
    <tr *ngIf="account.available!=0">
      <div *ngFor="let coin of coins">
        <th scope="row" *ngIf="coin.id == account.coin">
          {{coin.small_name}}{{coin.symbol}}
        </th>
      </div>
      <td>{{account.small_name}}</td>
      <td>{{account.description}}</td>
      <td>{{account.initial_amount}}</td>
      <td>
        <!--<a [routerLink]="['/adminuser/edit', profile._id]"  class="btn btn-warning btn-sm" id="edit">    id="edit" (click)="edit(account.id)"-->
        <a  class="btn btn-warning btn-sm" (click)="edit(account.id)" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fas fa-edit"></i>
        </a>
        <button class="btn btn-danger btn-sm" id="delete" (click)="deleteaccount(account.id)">
          <i class="fas fa-trash"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #formmodaccount="ngForm" (ngSubmit)="modaccount(formmodaccount)" class="login-form">
                  <div class="d-flex flex-row bd-highlight mb-3">
                    <div *ngIf="isError" class="alert alert-danger" role="alert">
                            {{alert}}
                    </div>
                    <div *ngIf="isSucces" class="alert alert-info" role="alert">
                      {{alert}}
                    </div>
                    <div class="form-group">
                      <select class="form-control" placeholder="Coin" name="coin" [(ngModel)]="edit_account.coin"  style='height:48px'>
                        <option value="null" disabled selected>Choose Coin.</option>
                        <option *ngFor="let coin of coins" [value]="coin.id" style='width:100px;'>
                          {{coin.small_name}}{{coin.symbol}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="small_name" [(ngModel)]="edit_account.small_name"
                            placeholder="Small Name" class="form-control"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" [(ngModel)]="edit_account.description"
                            rows="2" placeholder="Description"
                            class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="initial_amount" [(ngModel)]="edit_account.initial_amount"
                            placeholder="Initial Amount" class="form-control"
                            required>
                    </div>
                    <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
                      <i class="fas fa-save"></i>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>               <!--<button class="btn btn-danger btn-sm" (click)="delete(profile._id)" id="delete"></button>-->
</table>
