  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/accounts">Track Your Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-dark" routerLink="/coin" routerLinkActive="active"><i
              class="far fa-money-bill-alt"></i> Coins</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/account" routerLinkActive="active"><i
              class="fas fa-piggy-bank"></i> Accounts</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/category" routerLinkActive="active"><i
              class="far fa-folder-open"></i> Categorys</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/transacction" routerLinkActive="active"><i
              class="fas fa-retweet"></i> Transacction</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/profile" routerLinkActive="active"><i
              class="far fa-address-card"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark" routerLink="/reports" routerLinkActive="active"><i
              class="fas fa-chart-bar"></i> Report</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
