<br>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Small Name</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody *ngFor="let account of accounts">
      <tr *ngIf="account.available!=0">
        <div *ngFor="let coin of coins">
          <th scope="row" *ngIf="coin.id == account.coin">
            {{coin.small_name}}{{coin.symbol}}
          </th>
        </div>
        <td>{{account.small_name}}</td>
        <td>{{account.initial_amount}}</td>
        <td>
</table>
<br>

<!--<label>Expense last year: {{expense_last_year}}</label>
<div></div>
<label>Incomem last year: {{income_last_year}}</label>
<br>
<br>
<br>
<label>Expense last month: {{expense_last_month}}</label>
<div></div>
<label>Incomem last month: {{income_last_month}}</label>
-->

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Last Year</th>
            <th scope="col">Last Month</th>
        </tr>
        <tr>
            <th scope="col">Expense</th>
            <td>{{expense_last_year}}</td>
            <td>{{expense_last_month}}</td>
        </tr>
        <tr>
            <th scope="col">Income</th>
            <td>{{income_last_year}}</td>
            <td>{{income_last_month}}</td>
        </tr>
    </thead>
</table>
<br>

<form #formreport_betweem="ngForm" (ngSubmit)="reports_between(formreport_betweem)" class="login-form">
  <div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group">
      <select class="form-control" name="id_account" [(ngModel)]="report.id_account" style='height:48px'>
        <option value="null" disabled selected>Choose Acc.</option>
        <option *ngFor="let account of accounts" [value]="account.id" style='width:100px;'>
          {{account.small_name}}: {{account.initial_amount}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="date" name="from" [(ngModel)]="report.from">
    </div>
    <div class="form-group">
        <input  class="form-control" type="date" name="to" [(ngModel)]="report.to">
    </div>
    <button  type="submit"  class="btn btn-outline-primary" style='width:70px; height:50px'>
      <i class="fas fa-magic"></i>
    </button>
  </div>
</form>

<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Account</th>
            <th scope="col">Expense</th>
            <th scope="col">Icome</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <th scope="row">{{betweem_account}}</th>
            <td>{{expense}}</td>
            <td>{{income}}</td>
        </tr>
    </tbody>
</table>
