<br>
<br>
<form #form_add_category="ngForm" (ngSubmit)="add_category(form_add_category)" class="login-form">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div *ngIf="isError" class="alert alert-danger" role="alert">
            {{alert}}
    </div>
    <div *ngIf="isSucces" class="alert alert-info" role="alert">
      {{alert}}
    </div>
    <div class="form-group">
      <select class="form-control" name="father_cat" [(ngModel)]="category.father_cat" style='height:48px'>
        <option value="null" disabled selected>Choose F.Cat.</option>
        <option value="0">N/A</option>
        <option *ngFor="let category of categorys" [value]="category.id"  style='width:100px;'>
          {{category.category}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" placeholder="Type" name="type" [(ngModel)]="category.type" style='height:48px'>
        <option value="" disabled selected>Choose Type</option>
        <option *ngFor="let category_type of types" [value]="category_type.value" style='width:100px;'>
          {{category_type.viewValue}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="category" [(ngModel)]="category.category"
          rows="2" placeholder="Category"
          class="form-control" required>
    </div>
    <div class="form-group">
        <input type="text" name="description" [(ngModel)]="category.description"
            rows="2" placeholder="Description"
            class="form-control" required>
    </div>
    <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
      <i class="fas fa-save"></i>
    </button>
  </div>

</form>

<br>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Father Cat.</th>
            <th scope="col">Category.</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody *ngFor="let category of categorys">
      <tr *ngIf="category.available!=0">
            <th scope="row" *ngIf="category.father_cat == 0">
              N/A
            </th>
            <th scope="row" *ngIf="category.father_cat != 0">
              <div *ngFor="let cat of categorys">
                  <th scope="row" *ngIf="cat.id == category.father_cat">
                      {{cat.category}}
                  </th>
              </div>
            </th>
            <td>{{category.category}}</td>
            <td>{{category.type}}</td>
            <td>{{category.description}}</td>
            <td>
               <!--<a [routerLink]="['/adminuser/edit', profile._id]"  class="btn btn-warning btn-sm" id="edit">    id="edit" (click)="edit(account.id)"-->
        <a  class="btn btn-warning btn-sm" (click)="edit(category.id)" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fas fa-edit"></i>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form #form_mod_category="ngForm" (ngSubmit)="mod_categories(form_mod_category)" class="login-form">
                      <div class="d-flex flex-row bd-highlight mb-3">
                        <div *ngIf="isError" class="alert alert-danger" role="alert">
                                {{alert}}
                        </div>
                        <div *ngIf="isSucces" class="alert alert-info" role="alert">
                          {{alert}}
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="father_cat" [(ngModel)]="mod_category.father_cat" style='height:48px'>
                            <option value="null" disabled selected>Choose F.Cat.</option>
<<<<<<< HEAD
                            <option value="N/A">N/A</option>
=======
                            <option value="0">N/A</option>
>>>>>>> 0256e80c552e201d342273358e16d2c744626e5b
                            <option *ngFor="let category of categorys" [value]="mod_category.id" style='width:100px;'>
                              {{category.category}}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select class="form-control" placeholder="Type" name="type" [(ngModel)]="mod_category.type" style='height:48px'>
                            <option value="" disabled selected>Choose Type</option>
                            <option *ngFor="let category_type of types" [value]="category_type.value" style='width:100px;'>
                              {{category_type.viewValue}}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <input type="text" name="category" [(ngModel)]="mod_category.category"
                              rows="2" placeholder="Category"
                              class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="description" [(ngModel)]="mod_category.description"
                                rows="2" placeholder="Description"
                                class="form-control" required>
                        </div>
                        <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
                          <i class="fas fa-save"></i>
                        </button>
                      </div>

                    </form>
                    </div>

                  </div>
                </div>
              </div>
                <!--<a [routerLink]="['/adminuser/edit', profile._id]"  class="btn btn-warning btn-sm" id="edit">-->
                <!--<button class="btn btn-danger btn-sm" (click)="delete(profile._id)" id="delete"></button>-->
                <button class="btn btn-danger btn-sm" id="delete" (click)="deletecategory(category.id)">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
        </tr>
    </tbody>
</table>

