html {
    margin: 40px auto;
    text-align: center;
  }
  .btn-facebook {
        background: #263961;
        border-radius: 5px;
        color: #fff;
        border-width: 5px;
        border-style: hidden;
        border-color: #263961;
      }
      .btn-facebook:link, .btn-facebook:visited {
        color: #fff;
      }
      .btn-facebook:active, .btn-facebook:hover {
        background: #263961;
        color: #fff;
      }
.btn-google {
        background: #d1321d;
        border-radius: 5px;
        color: #fff;
        border-width: 5px;
        border-style: hidden;
        border-color: #d1321d;
      }
      .btn-google:link, .btn-google:visited {
        color: #fff;
      }
      .btn-google:active, .btn-google:hover {
        background: #d1321d;
        color: #fff;
      }