<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Login Here</div>
    <div class="card-body">
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">

        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>

            <a routerLink="/signup" class="btn btn-info float-right">Sign Up</a>

          </div>
        </div>
        <small class=float-right>
          <a routerLink="/request-password-reset"></a>
        </small>
      </form>
      <form #loginForm=ngForm>
          <div class="container-fluid">
            <div class="row" style="text-align: -webkit-center">
              <div class="col-md-12">
                <button class="btn btn-primary" style="background-color: #385998; border-color: #385998;"(click)="facebooklogin()"><i class="fa fa-facebook"></i>Facebook</button>
                <button class="btn btn-primary" style="background-color: #c63d2d; border-color: #c63d2d;"(click)="googlelogin()"><i class="fa fa-google"></i>Google</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
