 <br>
 <br>
 <!-- Tab links -->
 <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'expences_income')">Expences Income</button>
    <button class="tablinks" onclick="openCity(event, 'transfer')">Transfer</button>
  </div>

  <!-- Tab content expences imcome -->
  <!-- Tab content expences imcome -->
  <!-- Tab content expences imcome -->
  <!-- Tab content expences imcome -->
  <!-- Tab content expences imcome -->

  <div id="expences_income" class="tabcontent">
    <form #form_add_transacction="ngForm" (ngSubmit)="add_transacction(form_add_transacction)" class="login-form">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div *ngIf="isError" class="alert alert-danger" role="alert">
                {{alert}}
        </div>
        <div *ngIf="isSucces" class="alert alert-info" role="alert">
          {{alert}}
        </div>
        <div class="form-group">
          <select class="form-control" name="category" [(ngModel)]="transacction.category" style='height:48px'>
            <option value="null" disabled selected>Choose Cat.</option>
            <option value="0">N/A</option>
            <option *ngFor="let transacction of categorys" [value]="transacction.id" style='width:100px;'>
              {{transacction.category}}: {{transacction.type}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="id_account" [(ngModel)]="transacction.id_account" style='height:48px'>
            <option value="null" disabled selected>Choose Acc.</option>
            <option *ngFor="let account of accounts" [value]="account.id" style='width:100px;'>
              {{account.small_name}}: {{account.initial_amount}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <input type="text" name="detail" [(ngModel)]="transacction.detail"
                rows="2" placeholder="Detail"
                class="form-control" required>
        </div>
        <div class="form-group">
            <input type="number" name="amount" min="1" [(ngModel)]="transacction.amount"
                placeholder="Amount" class="form-control"
                required>
        </div>
        <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
          <i class="fas fa-save"></i>
        </button>
      </div>
    </form>
  </div>

   <!-- Tab content transacction -->
   <!-- Tab content transacction -->
   <!-- Tab content transacction -->
   <!-- Tab content transacction -->
   <!-- Tab content transacction -->
  <div id="transfer" class="tabcontent">
    <form #form_add_transfer="ngForm" (ngSubmit)="add_transfer(form_add_transfer)" class="login-form">
      <div class="d-flex flex-row bd-highlight mb-3">
        <div *ngIf="isError" class="alert alert-danger" role="alert">
                {{alert}}
        </div>
        <div *ngIf="isSucces" class="alert alert-info" role="alert">
          {{alert}}
        </div>
        <div class="form-group">
          <select class="form-control" name="id_account" [(ngModel)]="acc_transfer.account_debited" style='height:48px'>
            <option value="null" disabled selected>Debited Account.</option>
            <option *ngFor="let account of accounts" [value]="account.id" style='width:100px;'>
              {{account.small_name}}: {{account.initial_amount}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="id_account" [(ngModel)]="acc_transfer.accredited_account" style='height:48px'>
            <option value="null" disabled selected>Accredited Account.</option>
            <option *ngFor="let account of accounts" [value]="account.id" style='width:100px;'>
              {{account.small_name}}: {{account.initial_amount}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <input type="text" name="detail" [(ngModel)]="acc_transfer.detail"
                rows="2" placeholder="Detail"
                class="form-control" required>
        </div>
        <div class="form-group">
            <input type="number" name="amount" min="1" [(ngModel)]="acc_transfer.amount"
                placeholder="Amount" class="form-control"
                required>
        </div>
        <button  type="submit"  class="btn btn-success" style='width:70px; height:50px'>
          <i class="fas fa-save"></i>
        </button>
      </div>
    </form>
  </div>

<br>
<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Date.</th>
            <th scope="col">Account.</th>
            <th scope="col">Category.</th>
            <th scope="col">Detail</th>
            <th scope="col">Amount</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody *ngFor="let transacction of transacctions">
        <tr>
            <th scope="row">{{transacction.type}}</th>
            <td>{{transacction.created_at}}</td>
            <td>{{transacction.acount}}</td>
            <td>{{transacction.category}}</td>
            <td>{{transacction.detail}}</td>
            <td>{{transacction.amount}}</td>
            <td>
                <!--<a [routerLink]="['/adminuser/edit', profile._id]"  class="btn btn-warning btn-sm" id="edit">-->
                <!--<a  class="btn btn-warning btn-sm" id="edit">
                    <i class="fas fa-edit"></i>
                </a>-->
                <!--<button class="btn btn-danger btn-sm" (click)="delete(profile._id)" id="delete"></button>-->
                <button class="btn btn-danger btn-sm" id="delete" (click)="deletetransaccion(transacction.id)"id="delete">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
