<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Register Here</div>
    <div class="card-body">
      <form #signupForm=ngForm (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.name" required>
            <div class="alert alert-danger" [hidden]="!error.name">
              {{error.name}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" name="lastname" class="form-control" id="inputlastname3" placeholder="Last Name" [(ngModel)]="form.lastname" required>
            <div class="alert alert-danger" [hidden]="!error.lastname">
              {{error.lastname}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Telephone</label>
          <div class="col-sm-10">
            <input type="text" name="telephone" class="form-control" id="inputtelephone3" placeholder="telephone" [(ngModel)]="form.telephone" required>
            <div class="alert alert-danger" [hidden]="!error.telephone">
              {{error.telephone}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
            <div class="alert alert-danger" [hidden]="!error.email">
              {{error.email}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPasswordConfirmation3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3" placeholder="Confirm Password"
              [(ngModel)]="form.password" required>
            <div class="alert alert-danger" [hidden]="!error.password">
              {{error.password}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password_confirmation"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">

            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>

            <a routerLink="/login" class="btn btn-info float-right">Sign in</a>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
